.DS_Store
node_modules/
logs/*
!logs/README.md
database_backups/*
!database_backups/README.md
releases/*
!releases/README.md
npm-debug.log
.idea/
.gitignore
bitbucket-pipelines.yml
.vscode/
solutions/
releases/
