nav.navbar.navbar-light.bg-faded
  a.navbar-brand(href="/") IIS Übung
  ul.nav.navbar-nav
    li.nav-item
      a.nav-link(href="/production") Fertigungsdaten (HÜ2)
    li.nav-item
      a.nav-link(href="/products") Produktstruktur (HÜ3)
    li.nav-item
      a.nav-link(href="/projects") Buchungen (HÜ4)

  ul.nav.navbar-nav(style='float: right')
    if user && user.admin
      li.nav-item
        a.nav-link(href='/org') Org (HÜ1)
    li.nav-item
      if user
        a.nav-link(href='/users/logout') Logout
      else
        a.nav-link(href='/users/login') Login (HÜ1)
