doctype html
html
  block vars
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/default.css' )
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
    script(src="/javascripts/highlight.pack.js")
    script.
      hljs.initHighlightingOnLoad();
    block scripts
      script(src='/javascripts/jquery-2.2.0.js')
      script(src='/javascripts/tether-1.2.0.js')
      script(src='/javascripts/bootstrap.js')
      script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
  body
    div.container
      include header

      - if (messages.success) 
        .container
          .alert.alert-success.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') &times;
            = messages.success

      block content

    div.bg-faded(style='position:fixed; right:0px; bottom:0px;')
      ul.nav
        li.nav-item
          span.navbar-text
            | Datenbank:
        li.nav-item
          a.nav-link(href='/database/schema') Schema
        li.nav-item
          a.nav-link(href='/database/logs') Logs
        li.nav-item
          a.nav-link(href='/database/download') Download
        li.nav-item
          a.nav-link(href='/database/version') Version