extends layout

block vars
  - var title='Beispiele zur ersten Hausübung'

block content
  .container
    .row(style="margin-top:2em;")
      .col-xs-12
        include:marked ../assignments/lectures/lecture1.md
