extends layout

block vars
  - var title='Beispiele zur dritten Hausübung'

block content
  .container-fluid
    .row(style="margin-top:2em;")
      .col-xs-12
        include:marked ../assignments/lectures/lecture3.md